
.MainStudentOffer{
    background-color: var(--d-blue);
    min-height: 100vh;
}

.MainStudentOffer>h1{
    color: white;
    text-decoration: underline;
}
.MainStudentOffer>h5{
    width: 60%;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid;
    color: white;
}

.article__Container{
    display: flex;
    gap: 1rem;
    /* border: 5px solid red; */
    width: 90%;
    flex-wrap: wrap;
    margin: auto;    
    margin-top: 3rem;
}

@media screen and (max-width: 620px) {
    .article__Container{
        margin: 0px;
        margin-top: 3rem;
    }
}
