@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');

:root{
    --d-blue: #170044; 
    --l-blue: #004AAD;
}

/* .student__Offers{
    background-color: var(--d-blue);
    min-height: 100vh;
} */
/* .student__Offers>h5{
    border: 1px solid black;
    width: 60%;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid;
    color: white;
}  */

.main__Article{
    margin-top: 3rem;
    /* border: 1px solid red; */
    display: flex;
    width: fit-content;
    font-family: 'PT Serif', serif;
    background-color: white;
    padding: 1rem;
    width: 35rem;
    margin: 10px;
    height: auto;
    min-height: 270px;
    margin-left: 50px;
}

@media screen and (max-width: 1475px) {
    .main__Article{
        width: 35rem;
    }
}

@media screen and (max-width: 1300px) {
    .main__Article{
        width: 30rem;
    }
}

/* @media screen and (max-width: 1130px) {
    .main__Article{
        width: 25rem;
    }
} */


@media screen and (max-width: 750px) {
    .main__Article{
        width: 35rem;
        height: 200px;
    }
}

@media screen and (max-width: 620px) {
    .main__Article{
        width: 29rem;
    }
}


.main__Article>.left__Side{
    /* border: 1px solid green; */
    width: 30%;
}

.main__Article>.left__Side>img{
    /* border: 1px solid blue; */
    width: 100%;
}

.main__Article>.right__Side{
    /* border: 1px solid orange; */
    text-align: left;
    padding: 1rem;
    padding-right: 6rem;
}

.main__Article>.right__Side>.deal__tenure{
    color: #c3c2be;
    font-size: x-large;
}

.price{
    color: #004aac;
    font-weight: 600;
    font-size: 20px;
}

.price:hover{
    text-decoration: underline;
    cursor: pointer;
}

.offer__Detail{
    font-size: 14px;
    color: #000;
}

.get__Deal{
    margin-top: 2rem;
    width: 150px;
    padding: 0.6rem;
    background-color: transparent;
    border: 3px solid var(--d-blue);
    border-radius: 20px;
}

.get__Deal:hover{
    background-color: var(--l-blue);
    color: white;
    transition: 0.5s ease-in-out;
}


@media only screen and (max-width: 700px) {
    .main__Article{
        height: auto;
        min-height: 100px;
    }    
    .price{
        font-size: 20px;
    }
}
 