@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@600;700&family=Tapestry&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@600;700&family=Encode+Sans:wght@600&family=Tapestry&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@600;700&family=Encode+Sans:wght@600&family=Lobster&family=Tapestry&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/* *{
   box-sizing: border-box;
   background-color: rgb(70, 17, 70);
   flex-direction: row;
} */

.Main{
   display: flex;
   flex-direction: column;
   overflow: hidden;
   float: left;
   margin: 10px;
   justify-content: center;
   margin-left: 2px;
}

.card-container{
   border: 2px solid black;
   width: 430px;
   height: 250px;
   background-color: white;
   margin-right: 0px;
   text-align: left;
   flex-direction: row;
   display: flex;
   /* box-shadow: 1px 2px 3px 4px rgba(90, 42, 157, 0.1); */
   padding: 8px;
   margin: 20px 20px;
   overflow: hidden;
   border-radius: 20px;
}

.card-container:hover{
   box-shadow: rgba(191, 185, 188, 0.4) 2px 2px 2px 2px;
   transform: scale(0.99);
}

.mentor-image img{
   height: 230px;
   width: 180px;
   /* border: 3px solid black; */
   border-radius: 20px;
}

.text-container{
   background-color: white;
   display: flex;
   flex-direction: column;
   /* border: 2px solid blue; */
   margin: 2px;
}

.text-container h4{
   background-color: white;
   font-family: 'Montserrat', sans-serif;
   font-size: 18px;
   padding: 10px;
   margin-top: -10px;
   /* font-family: 'Tapestry', cursive; */
}

.mentor-name h1{
   background-color: white;
   padding: 10px;
   margin: 0px;
   font-size: 29px;
   font-family: 'Montserrat', sans-serif;
}
.mentor-skills p{
   background-color: white;
   font-size: 18px;
   padding: 10px;
   margin-top: -10px;
   font-family: 'Montserrat', sans-serif;
}

.text-container div{
   background-color: white;
}

.socials{
   display: flex;
   margin-left: 30%; 
   gap: 20px;

}