:root{
   --d-blue: #170044; 
   --l-blue: #004AAD;
}

.Mbackground{
   min-height: 800px;
   background-color: var(--d-blue);
   
}

@media only screen and (max-width: 700px) {
   .Mbackground {
      min-height: 2000px;
      width: 700px;
      padding: 20px;
      padding-left: 70px;
   }
 }

.Mbackground > h1{
   color: white;
}

#mbcp{
   color: white;
}
