:root{
    --l-blue: #004AAD;
    --d-blue: #170044; 
}

.tutorial__Container{
    min-height: 200vh;
    background-color: var(--d-blue);
}

.tutorial{
    /* border: 2px solid red; */
    padding-top: 2rem;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.video h4{
    color: white;
    max-width: max-content;
    margin-top: 10px;
    margin-left: 25%;
    text-decoration: none;
    /* border: 2px solid var(--l-blue); */
}

@media only screen and (max-width: 600px) {
    .tutorial__Container{
        background-color: (--d-blue);
        width: 700px;
    }
    iframe{
        width: 400px;
        height: 300px;
    }
    .tutorial{
        margin: 10px 10px;
        padding: 1rem;
    }
    .tutorial h4{
        padding: 0px 0px;
        margin: 0px 20px;
    }

}