:root {
    --l-blue: #000000;
    --d-blue: #116466; 
}

.friend{
    padding-top: 20px;
    min-height: 100vh;
    background-color: var(--d-blue);
}

.friend>h1{
    color: white;
    /* text-decoration: underline; */
}

.friend>h1>span{
    color: var(--l-blue);
}

.friend>h5{
    width: 60%;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid;
    color: white;
    margin-bottom: 3rem
}

.friend>h4{
    color: white;
}

.friend .roboInputContainer{
    display: block;
}

.roboInputContainer input{
    /* border: 6px solid green; */
    margin:  2rem;
    min-width: 50%;
    height: 40px;
    border-radius: 20px;
    padding: 20px;
    outline: 2px solid var(--l-blue);
}

.roboInputContainer button,
.roboInputContainer button:active{
    width: 10%;
    border-radius: 20px;
    height: 40px;
    outline: 2px solid var(--l-blue);
    /* background-color: var(--l-blue); */
    background-color: white;
}

.roboInputContainer button:hover{
    color: #116466;
    transition-duration: 0.4s;
    background-color: rgb(230, 232, 232);
    outline: 2px solid var(--l-blue);
}

@media only screen and (max-width: 700px) {
    .friend{
        width: 700px;
    }
    .friend>h4,h1,h4,h5{
        font-size: 15px;
    }
}